* {
	margin: 0;
}
.row {
	display: flex;
	justify-content: space-between;
	width: 1400px;
	margin: 20px auto;
}
.ul-ul {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	list-style: none;
}
a{
	display: flex;
	margin: 10px;
	color: #000;
	list-style: none;
}
.ddd{
    background: #ccc;
	width: 20%;
	height: 200px;
	display: none;

}
.bats{
	display: none;
}
.ul-ul li {
	list-style: none;
	margin: 10px;
}
.ul-ul li:hover{
    color: #e10d1e;
    cursor: pointer;
}
.img img {
	width: 100%;
	position: relative;
	top: -79px;
}
.img {
	display: flex;
}
.bac {
	display: flex;
	justify-content: center;
	background: #fff;
	padding: 15px;
	position: absolute;
	left: 1200px;
	top: 20px;
	margin: 0 auto;
	width: 30px;
	border-radius: 10px;
}
.bac2 {
	display: flex;
	justify-content: center;
	background: #fff;
	padding: 15px;
	position: absolute;
	left: 1270px;
	top: 20px;
	margin: 0 auto;
	width: 30px;
	border-radius: 10px;
}
.l {
	display: flex;
}
.k {
	display: flex;
	margin: 10px;
}
.fa {
	font-size: 25px;
}
.o {
	position: absolute;
	margin-top: 130px;
}
.o img {
	width: 97%;
}
.y {
	display: flex;
	justify-content: space-between;
	width: 1500px;
	margin: 0 auto;
}
.text-h1 h1 {
	font-size: 70px;
	margin-top: 30px;
	margin-left: 50px;
	color: #222222;
}
.text-p {
	width: 50%;
	margin-left: 50px;
	margin-top: 20px;
}
.book {
	display: flex;
	justify-content: center;
	background: #e10d1e;
	width: 15%;
	padding: 15px;
	margin-left: 50px;
	margin-top: 20px;
	color: #fff;
	border-radius: 10px;
}
.book:hover{
    background: #cacaca00;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.5s;
}
.book2 {
	display: flex;
	justify-content: center;
	background: #e10d1f00;
	width: 15%;
	padding: 15px;
	margin-left: 20px;
	margin-top: 20px;
	color: #fff;
	border: 1px solid #e10d1e;
	color: #000;
	border-radius: 10px;
}
.book2:hover{
    background: #e10d1e;
    color: #fff;
    border: 1px solid #e10d1e;
    cursor: pointer;
    transition: 0.5s;
}
.dis {
	display: flex;
}
n {
	color: #e10d1e;
}
.col {
	background: #e10d1f27;
	width: 5%;
	padding: 20px;
	margin: 5px;
	border-radius: 10px;
}
.col-dis {
	display: flex;
	margin-left: 50px;
	margin-top: 70px;
}

.col .fa {
	display: flex;
	justify-content: center;
}
.col:hover {
	background: #e10d1e;
	cursor: pointer;
	transition: 0.5s;
}
.text-2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 30px;
	color: #222222;
}
.border {
	border: 2px solid #ccc;
	width: 18%;
	height: 430px;
}
.border:hover {
	border: 1px solid #e10d1e;
	cursor: pointer;
}
.marg {
	margin-top: 500px;
}
.bac-0 {
	background: #ccc;
	height: 100px;
}
.bac-0:hover {
	background: #e10d1e;
}
.img-0 {
	display: flex;
	justify-content: center;
	position: relative;
	top: -60px;
	left: 0;
}
.img-0 img {
	border-radius: 80px;
	width: 50%;
}
.Pizza {
	display: flex;
	justify-content: center;
	position: relative;
	top: -50px;
}
.Pizza h3 {
	display: flex;
	justify-content: center;
	font-size: 25px;
}
.Pizza p {
	display: flex;
	justify-content: center;
}
.ww {
	color: #e10d1e;
	margin-top: 10px;
}
.add-0 {
	display: flex;
	justify-content: center;
	background: #e10d1e;
	margin-left: 30px;
	width: 40%;
	padding: 15px;
	color: #fff;
	border-radius: 10px;
}
.add-1 {
	margin-top: 20px;
}
.nav {
	display: flex;
	justify-content: space-evenly;

	width: 1400px;
	margin: 100px auto;
}
.con {
	margin-left: 20px;
}
.nav2 {
	margin-top: 10px;
}
.ee img {
	position: absolute;
	left: -150px;
	width: 22%;
}
.ee2 img {
	position: absolute;
}
.ee2 {
	position: relative;
	left: -100px;
	top: -140px;
}
.bac3 {
	width: 1400px;
	margin: 0 auto;
	background: #ee273820;
	height: 450px;
	border-radius: 30px;
}
.why {
	display: flex;
	justify-content: center;
	color: #222222;
	font-size: 20px;
	margin-top: 10px;
}
.why h1 {
	margin-top: 100px;
	font-size: 50px;
}
.con2 {
	display: flex;
	justify-content: space-evenly;
	margin-top: 70px;
}
.con2 .fa {
	font-size: 50px;
	margin-left: 26px;
	color: #e10d1e;
}
.product {
	margin-left: 40px;
}
.aro {
	margin-left: 15px;
}
.fa-1 .fa {
	margin-left: 45px;
}
.fa-3 .fa {
	margin-left: 40px;
}
.our {
	margin-top: 20px;
}
.best {
	margin-left: 20px;
	margin-top: 20px;
}

.feer p {
	margin-top: 20px;
}
.text3 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 30px;
	color: #222222;
}
.pol {
	display: flex;
	justify-content: center;
	background: #e10d1f2c;
	padding: 10px;
	display: flex;
	margin: 5px;
	color: #e10d1e;
	border-radius: 10px;
	cursor: pointer;
}
.pol2 {
	display: flex;
	justify-content: center;
	background: #7d7d7d00;
	padding: 10px;
	display: flex;
	margin: 5px;
}
.pol p {
	margin-top: 3px;
	margin-left: 10px;
}
.pol2:hover {
	background: #e10d1f2c;
	color: #e10d1e;
	cursor: pointer;
	border-radius: 10px;
}
.pol2 p {
	margin-top: 3px;
	margin-left: 10px;
}
.conte2 {
	display: flex;
	justify-content: space-between;
}
.nav-3 {
	display: flex;
	justify-content: space-between;
	width: 1300px;
	margin: 70px auto;
}
.all-a p {
	display: flex;
	justify-content: center;

	background: #00000000;
	border: 1px solid #e10d1e;
	padding: 15px;
	border-radius: 10px;
}
.all-a:hover {
	background: #e10d1e;
	border: 1px solid #e10d1e;
	cursor: pointer;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
}
.border2 {
	width: 30%;
	height: 400px;
	background: #f1f1f1;
	border-radius: 20px;
}
.images img {
	width: 100%;
	border-radius: 10px;
}
.ff {
	display: flex;
	justify-content: center;
	position: absolute;
	color: #fff;
	background: #fe9f10;
	width: 6%;
	padding: 2px;
	border-radius: 5px;
	font-size: 15px;
}
.bacv {
	display: flex;
	justify-content: center;
	background: #fff;
	width: 17%;
	padding: 3px;
	position: relative;
	top: -50px;
	left: 230px;
	color: #000;
	border-radius: 10px;
}
.bacv .fa {
	color: #fe9f10;
}
.bacv p {
	margin-top: 4px;
	margin-left: 6px;
}
.bur {
	display: flex;
	justify-content: center;
	position: relative;
	top: -20px;
}
.bur h2 {
	display: flex;
	justify-content: center;
}
.be {
	margin-left: 50px;
}
.it {
	margin-top: 10px;
}
.row-nav {
	display: flex;
	justify-content: space-between;
	width: 1300px;
	margin: 20px auto;
}
.asd {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	color: #e10d1e;
}
.img-im {
	background-image: url(https://swigo-fast-food-react.netlify.app/assets/pic13-SaWw0DUZ.png);
	background: #222;
	height: 500px;
	width: 1300px;
	margin: 20px auto;
	border-radius: 20px;
}
.juk {
	display: flex;
	justify-content: space-around;
}
.bookol {
	color: #fff;
	position: relative;
	top: 50px;
	left: 80px;
}

.i {
	margin-top: 20px;
}
.of1 {
	margin-top: 5px;
}
.inp {
	display: flex;
	margin-top: 70px;
	padding: 10px;
	margin-left: 60px;
	width: 100%;
}
.inp2 {
	display: flex;
	margin-top: 30px;
	padding: 10px;
	margin-left: 60px;
	width: 100%;
}
.inp3 {
	display: flex;
	margin-top: 30px;
	padding: 10px;
	margin-left: 60px;
	width: 100%;
}
input {
	width: 300px;
	padding: 5px;
	background: #222222;
	border: 1px solid #222222;
}
.yy {
	display: flex;
}
.yy2 {
	display: flex;
	margin-left: 20px;
}
.yy2 .fa {
	color: #fff;
}
.yy .fa {
	color: #fff;
}
.border3 {
	border-bottom: 2px solid #ccc;
	width: 47%;
}
.border4 {
	border-bottom: 2px solid #ccc;
	width: 48%;
	margin-left: 22px;
}
.bor {
	display: flex;
	margin-left: 75px;
}

.hj {
	background: #ee2737;
	width: 25%;
	height: 350px;
	margin-top: 120px;
	border-radius: 20px;
}
.img-im {
	display: flex;
	justify-content: space-around;
}
.txt {
	margin-left: 30px;
	color: #fff;
}
.txt p {
	width: 220px;
	margin-top: 10px;
}
.nom {
	display: flex;
	margin-left: 30px;
	margin-top: 20px;
	color: #fff;
}

.nom .fa {
	margin-top: 5px;
	color: #cacf7a;
}
.pol-p {
	display: flex;
	justify-content: center;
	color: #fff;
	background: #ee2737;
	width: 15%;
	padding: 15px;
	margin-left: 75px;
	margin-top: 40px;
	border-radius: 10px;
}
.orme2 {
	display: flex;
	justify-content: space-between;
	width: 1250px;
	margin: 100px auto;
}
.orme3 {
	background: #f1f1f1;
	padding: 15px;
	width: 500px;
	margin-top: 10px;
	border: 1px solid #fff;
}
.sub {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ee2737;
	width: 20%;
	padding: 1px;
	color: #fff;
	position: relative;
	top: 18px;
	left: -130px;
	height: 30px;
}

.sub2 {
	display: flex;
}
.oremio {
	margin-top: 10px;
}
.border-0 {
	display: flex;
	justify-content: center;
	width: 1250px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.txt3 {
	display: flex;
}
.txt3 p {
	margin: 10px;
}
.our1 {
	display: flex;
	justify-content: space-between;
	width: 1250px;
	margin: 40px auto;
}
.qq {
	display: flex;
	justify-content: center;
	width: 1250px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.all1 {
	display: flex;
	justify-content: space-between;
	width: 1250px;
	margin: 30px auto;
}
@media screen and (max-width: 500px) {
	.ul-ul {
		display: none;
	}
	.text-h1 h1 {
		font-size: 45px;
	}
	.y {
		flex-wrap: wrap;
		width: 100%;
		margin-top: 100px;
		background: #cacf7a;
		height: 850px;
	}
	.bac {
		display: none;
	}
	.bac2 {
		display: none;
	}
	.text-p {
		width: 80%;
	}
	.book2 {
		margin-top: 45px;
		width: 30%;
	}
	.book {
		width: 30%;
		margin-top: 45px;
	}
	.img img {
		margin-top: 220px;
	}
	.l {
		display: none;
	}
	.o {
		position: absolute;
		top: 350px;
	}
	.col-dis {
		display: none;
	}
	.ee {
		display: none;
	}
	.ee2 {
		display: none;
	}
	.nav {
		flex-wrap: wrap;
		width: 90%;
		margin-top: 5px;
	}
	.border {
		width: 100%;
		margin-top: 30px;
		height: 460px;
	}
	.text-2 {
		font-size: 18px;
	}
	.add-0{
		margin-left: 40px;
	}
	.bac3 {
		flex-wrap: wrap;
		width: 100%;
	}
	.con2 {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 45%;
	}
	.feer {
		position: relative;
		left: 150px;
	}
	.bac3 {
		height: 760px;
	}
	.fa-1 {
		position: relative;
		left: 145px;
		top: 30px;
	}
	.hh {
		position: relative;
		left: 130px;
		top: 50px;
	}
	.fa-3 {
		position: relative;
		left: 150px;
		top: 70px;
	}
	.row-nav {
		flex-wrap: wrap;
		width: 90%;
		margin-top: 50px;
	}
	.border2 {
		width: 100%;
		margin: 10px;
	}
	.nav-3 {
		display: none;
	}
	.ff {
		width: 30%;
	}
	.bacv {
		position: relative;
		top: -50px;
		
	}
	.text3{
		font-size: 20px;
	}
	.img-im {
		flex-wrap: wrap;
		width: 100%;
		height: 1111px;
	}
	.why h1{
		font-size: 40px;
	}
	.inp {
		flex-wrap: wrap;
		width: 80%;
		margin-left: 10px;
	}
	.inp2 {
		flex-wrap: wrap;
		width: 80%;
		margin-left: 10px;
	}
	.inp3 {
		flex-wrap: wrap;
		width: 80%;
		margin-left: 10px;
	}
	.border3 {
		display: none;
	}
	.border4 {
		display: none;
	}
	.border5 {
		border-bottom: 1px solid #ccc;
		width: 100%;
	}
	.bookol {
		color: #fff;
		position: relative;
		top: 30px;
		left: 0;
		margin-left: 20px;
	}
	.pol-p {
		margin-left: 10px;
		width: 30%;
	}
	.yy2 {
		margin-left: 0;
		margin-top: 30px;
	}
	.hj {
		width: 71%;
		position: relative;
		top: -100px;
		left: -60px;
	}
    .dddF{
        display: block;
        width: 100%;
		
    }
    .orme2{
        flex-wrap: wrap;
        width: 100%;
		display: none;
		margin: 20px auto;
      

    }
    .orme2 h2{
        margin-top: 20px;
        width: 75%;
		display: none;
        
    }
   
    .our1{
        flex-wrap: wrap;
        width: 100%;
		margin: 20px auto;
		display: none;
        
    }
    .all1{
        flex-wrap: wrap;
         width: 100%;
     
    }
    .orme3{
        width: 350px;
		display: none;
       
    }
    .border-0{
        border-bottom: 2px solid#ccc;
        width: 90%;
		display: none;
    }
	.qq{
		border-bottom: 2px solid #ccc;
		width: 90%;
		display: none;
		
	}
	.sub2{
		width: 85%;
	}
	.rr{
		width: 20%;
	}
	.row{
		width: 100%;
	}
	
	.bats{
		display: block;
		width: 10%;
	}
	.row2{
		background: #cacf7a;
		width: 100%;
		
	}
	
}
    
    
